@font-face {
    font-family: heebo;
    src: url(assets/fonts/Heebo/Heebo-VariableFont_wght.ttf);
}

@font-face {
    font-family: segoe;
    src: url(assets/fonts/segoe/segoeuithis.ttf);
}

html {
    width: 100vw;
    max-width: 100%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x:hidden;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #BADEFD;
    font-family: segoe;
    overflow-x: hidden;

}

h1 {
    font-family: heebo;
}

.main-title {
    color: rgb(4, 22, 38);
    font-size: 6vmax;
    text-align: center;
}

.explaine-text {
    color: rgb(4, 22, 38);
    font-size: 4vmax;
    width: 80vw;
    position: relative;
    right: 8%;
    text-align: center;
}

.panel {
    height: 100vh;
    animation: fade-in 1s forwards;
    opacity: 0;
}
  
.button {
    background-color: rgb(237, 214, 8);
    box-shadow: 0 12px 0 rgb(228, 165, 4);
    width: 60vw;
    height: 10vh;
    font-size: 3.5vmax;
    font-weight: bold;
    border-radius: 68px;
    border: none;
    transition: all .3s;
    position: relative;
    right: 20%;
}

.button:hover {
    box-shadow: 0 0px 0 rgb(228, 165, 4);
    transform: translateY(12px);
    align-self: center;
}

.questionmark-button {
    width: 12vw;
    height: 12vw;
    right: 2%;
    top: 2%;
}

.instructions {
    font-size: 3.5vmax;
    text-align: center;
    width: 88vw;
    position: relative;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-right: 5vw;
}

.bold {
    font-weight: 700;
}

.down-arrows {
    color: rgb(165, 86, 240);
    font-size: 15vmax;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 20%;
    animation: up-down 3.5s infinite;
}

.choose-div {
    background-image: url('assets/general/backgrounds/levelChoosing.svg');
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.choose {
  height: 30vh;
}

#soldier {
    position: absolute;
    top: 152vh;
    right: 0vw;
    z-index: 2;
}

#commander {
    position: absolute;
    top: 152vh;
    right: 70vw;
    z-index: 2;
}

.picked {
    filter: drop-shadow(0px 0px 7px rgb(223, 160, 82));
}

.choose-title {
    font-size: 3.5vmax;
    position: relative;
    top: 5%;
}

#chosen-button {
    position: absolute;
    top: 125vh;
    /* display: none; */
}

#animation-car {
    position: relative;
    top: 60vh;
    width: 100vw;
}

@keyframes back-car-drive {
    0% {
        top: 60vh;
        width: 100vw;
        right: 0;
    }
    100% {
        top: 48vh;
        width: 50vw;
        right: 12vw;
    }
}

@keyframes right-car-drive {
    0% {
        top: 42vh;
        left: -20vw;
        width: 40vw;
        z-index: 0;
    }
    100% {
        top: 37vh;
        left: 30vw;
        width: 30vw;
        z-index: 0;
    }
}

@keyframes up-down {
    0% {
        bottom: 13%;
    }
    50% {
        bottom: 15%;
    }
    100% {
        bottom: 13%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
