@font-face {
    font-family: heebo;
    src: url(assets/fonts/Heebo/Heebo-VariableFont_wght.ttf);
}

@font-face {
    font-family: segoe;
    src: url(assets/fonts/segoe/segoeuithis.ttf);
}

html {
    width: 100vw;
    max-width: 100%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x:hidden;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #BADEFD;
    font-family: segoe;
    overflow-x: hidden;
}

h1 {
    font-family: heebo;
}

.main-title {
    color: rgb(4, 22, 38);
    font-size: 6vmax;
    text-align: center;
}

.explaine-text {
    color: rgb(4, 22, 38);
    font-size: 4vmax;
    width: 80vw;
    position: relative;
    right: 8%;
    text-align: center;
}

.panel {
    height: 100vh;
    animation: fade-in 1s forwards;
    opacity: 0;
}
  
.button {
    background-color: rgb(237, 214, 8);
    box-shadow: 0 12px 0 rgb(228, 165, 4);
    width: 60vw;
    height: 10vh;
    font-size: 3.5vmax;
    font-weight: bold;
    border-radius: 68px;
    border: none;
    transition: all .3s;
    position: relative;
    right: 20%;
}

.button:hover {
    box-shadow: 0 0px 0 rgb(228, 165, 4);
    transform: translateY(12px);
    align-self: center;
}

.questionmark-button {
    width: 12vw;
    height: 12vw;
    right: 2%;
    top: 2%;
    z-index: 4;
}

.instructions {
    font-size: 3.5vmax;
    text-align: center;
    width: 88vw;
    position: relative;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-right: 5vw;
}

.bold {
    font-weight: 700;
}

.down-arrows {
    color: rgb(165, 86, 240);
    font-size: 15vmax;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 20%;
    animation: up-down 3.5s infinite;
}

.choose-div {
    position: absolute;
    background-image: url('assets/general/backgrounds/levelChoosing.svg');
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    background-size: 100vw;
    background-repeat: no-repeat;
}

.choose {
  height: 30%;
}

#soldier {
    position: absolute;
    top: 42vh;
    right: 68vw;
    z-index: 2;
}

#commander {
    position: absolute;
    top: 42vh;
    left: 73vw;
    z-index: 2;
}

.picked {
    filter: drop-shadow(0px 0px 7px rgb(223, 160, 82));
}

.choose-title {
    font-size: 3.5vmax;
    width: 98vw;
    position: relative;
    bottom: 2%;
}

#chosen-button {
    position: relative;
    bottom: 2vh;
    display: none;
}

#animation-car {
    position: absolute;
    top: 73vh;
    left: 0vw;
    width: 100vw;
}

#panel2 {
    display: none;
}

@keyframes back-car-drive {
    0% {
        top: 73vh;
        width: 100vw;
        left: 0;
    }
    100% {
        top: 57vh;
        width: 50vw;
        left: 30vw;
    }
}

@keyframes commander-car-drive {
    0% {
        top: 54vh;
        left: 40vw;
        width: 40vw;
        z-index: 0;
    }
    100% {
        top: 53vh;
        left: 120vw;
        width: 30vw;
        z-index: 0;
    }
}

@keyframes soldier-car-drive {
    0% {
        transform: scaleX(-100%);
        top: 54vh;
        left: 40vw;
        width: 40vw;
        z-index: 0;
    }
    100% {
        transform: scaleX(-100%);
        top: 53vh;
        left: 0vw;
        width: 30vw;
        z-index: 0;
    }
}

@keyframes up-down {
    0% {
        bottom: 13%;
    }
    50% {
        bottom: 15%;
    }
    100% {
        bottom: 13%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(10px);
    }
}

@keyframes un-blur {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0px);
    }
}

@keyframes un-blur {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0px);
    }
}

@keyframes circle-animation-open {
    0% {
        width: 12vw;
        height: 12vw;
        right: 2%;
        top: 2%;
    }
    100% {
        width: 100vw;
        height: 100vw;
        right: 0%;
        top: 10%;
    }
}

@keyframes circle-animation-close {
    0% {
        width: 100vw;
        height: 100vw;
        right: 0%;
        top: 10%;
    }
    100% {
        width: 12vw;
        height: 12vw;
        right: 2%;
        top: 2%;
    }
}

@keyframes slide {
    0% {
        width: 80vw;
        height: 12vw;
        left: 22%;
        top: 2%;
        opacity: 0.6;
    }
    100% {
        width: 80vw;
        left: -8%;
        opacity: 1;
    }
}

#about-title {
    position: relative;
    display: none;
}

#info {
    background-color: rgb(237, 214, 8);
    box-shadow: 0 12px 0 rgb(228, 165, 4);
    border-radius: 50%;
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: 3;
    display: none;
}

#info-text {
    text-align: center;
    position: relative;
    top: 5vh;
}

#about-text {
    display: none;
    opacity: 0;
    font-size: 3vmax;
}

#close-window {
    opacity: 0;
    position: absolute;
    left: 13vw;
    bottom: 29vh;
    font-size: 5.5vmax;
    font-weight: 900;
    filter: drop-shadow(0px 3px 7px rgb(223, 160, 82));
    z-index: 5;
}
